@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
$background : "rgb(34, 193, 195)";
$background-gradient:linear-gradient(135deg, rgb(23, 184, 184) 0%,
 rgb(6, 98, 112) 100%);
$font-family: "work sans";
$black:'#111';
$facebookIcon:"https://image.flaticon.com/icons/svg/145/145802.svg";
$twitterIcon:"https://image.flaticon.com/icons/svg/145/145812.svg";
$googleIcon:"https://image.flaticon.com/icons/svg/145/145804.svg";


// Theme
$theme-font: "Muli", sans-serif;
$theme-color: #bd9732;
$theme-color-body-background: #f4f4f6;
$theme-color-alt: #61666c;
