.sidenav {
  margin: 0;
  padding: 0;
  width: 175px;
  background-color: #e9ecef;
  position: fixed;
  height: 100%;
  left:0;
  overflow-x: hidden;
}

.sidenav a {
  display: block;
  color: black;
  font-size: 18px;
  padding: 16px 16px 16px 25px !important;
  text-decoration: none;
}
 

.sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main-nav-active{
  color: white !important;
  text-decoration: none;
  background-color: #1d1464 !important;
}

.sidenavbar{
  width:100%;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    top:0;
  }
  .sidenav a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}