.main-card {
  margin-top: 20px;
}

.card-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
  height: 150px !important;
}
.student-count-style {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-footer-style {
  align-self: center;
}
.countup-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 5%;
}

.table {
  margin-top: 3%;
  margin-left: 0%;
}
.heading-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.borderless td,
.borderless th {
  border: none;
}
.student-list-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enroll-style {
  font-size: 16;
  font-weight: 500;
}
.parentdash-two {
  margin-top: 3%;
}
.viewAll-link {
  text-decoration: none;
  cursor: pointer;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.enroll-link {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.parent-table {
  margin-top: 1%;
}
.dashboard-button-style{
  width: 24%;
}
