
.form-width {
  height: 40;
  border-width: 0.5;
  border-radius: 4;
  width: "100%";
}
.form-control:focus {
  outline: none;
  border: none;
}
.teacher-description{
  border: 1px solid #ced4da; 
  padding: 2px; 
  min-height: 100px; 
  border-radius: 0.25rem !important;
 }

input::-ms-reveal,
input::-ms-clear {
  display: none;
}