.quiz-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 575.98px) {
    align-items: flex-start;
    padding-top: 10px;
  }
}
.welcome-text {
  font-size: 12px !important;
}
.coursename-text {
  font-size: 16px !important;
  font-weight: bold;
}
.heading-bottom {
  border: 1px solid #000000;
  width: 100%;
}

tbody{
  border-left: 1px solid #eef0f2;
}

.table > :not(:first-child) {
  border-top: 2px solid lightgray;
}
.sv_main .sv_body {
  background-color: white;
  // border-top: 2px solid #BFBDBD;
  border-top: none !important;
  width: 100%;
}
.sv_main input[type="button"],
.sv_main button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1em !important;
  font-weight: bold;
  line-height: 2em;
  border: none;
  width: 30% !important;
  cursor: pointer;
  padding: 3px 2em;
  border-radius: 5px;
}
.sv_main input[type="button"],
.sv_main button {
  color: white;
  background-color: #3f51b5;
}
.sv_main input[type="button"]:hover,
.sv_main button:hover {
  background-color: #3f51b5;
}
.score-text-style {
  width: 100px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-weight: 600;
}
.score-container {
  display: flex;
  justify-content: center;
}
.result-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.result-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  border: 100px;
}
.score-count-style {
  width: 60px;
  background-color: #2f9b2f;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: white;
}
