.teacher-title{
    display: flex;
    justify-content: center;
    padding: 10px;
}
// .teacher-collapse-width {
//   display: block;
//   position: absolute;
//   background-color: white;
//   z-index: 3;
//   right: 10px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }
// .collapse-content-style {
//   display: grid;
// }
.collapse-text-style {
  color: black;
  text-decoration: none;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin: 12px 0px;
  font-size: 16px;
}

// .collapse-position{
//     overflow-y: unset !important;
// }

.teacher-menu-dropdown {
  background-color: unset !important;
  border-color: transparent !important;
  border: unset !important;
  box-shadow: unset !important;
}
// Dropdown caret icon hide
.dropdown-toggle::after{
  display: none !important;
}

.menu-dropdown-status{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-list{
  background-color: unset !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}