.nextbtn-active {
  width: 20% !important;
  border: 3px #3f51b5 !important;
  background-color: #3f51b5 !important;
  color: white !important;
  font-size: 14px !important;

  @media (max-width: 768px) {
    .nextbtn-active {
      width: 35% !important;
      font-family: 13px !important;
    }
  }

  @media (max-width: 576px) {
    .nextbtn-active {
      width: 55% !important;
      font-size: 13px !important;
    }
  }
}
.nextbtn-disable {
  width: 18% !important;
  background-color: #00000031 !important;
  color: white !important;
  font-size: 16px !important;
}
@media (max-width: 768px) {
  .nextbtn-disable {
    width: 33% !important;
    font-family: 13px !important;
  }
}
@media (max-width: 576px) {
  .nextbtn-disable {
    width: 53% !important;
    font-size: 13px !important;
  }
}

.backbtn-active {
  width: 18% !important;
  border: 3px #3f51b5 !important;
  background-color: #3f51b5 !important;
  color: white !important;
  font-size: 14px !important;
  margin-right: 10px !important;

  @media (max-width: 768px) {
    .backbtn-active {
      width: 33% !important;
      font-family: 13px !important;
    }
  }

  @media (max-width: 576px) {
    .backbtn-active {
      width: 54% !important;
      font-size: 13px !important;
    }
  }
}
.backbtn-disable {
  width: 18% !important;
  background-color: #00000031 !important;
  color: white !important;
  font-size: 16px !important;
  margin-right: 10px !important;
}
@media (max-width: 768px) {
  .backbtn-disable {
    width: 33% !important;
    font-family: 13px !important;
    margin-right: 10px !important;
  }
}
@media (max-width: 576px) {
  .backbtn-disable {
    width: 53% !important;
    font-size: 13px !important;
    margin-right: 10px !important;
  }
}

.input-text-style .MuiInputBase-input {
  height: 1px;
  border-radius: 8px;
  width: 100%;
}

.remove-field {
  width: 20% !important;
  border: 3px #3f51b5 !important;
  background-color: #3f51b5 !important;
  color: white !important;
  font-size: 14px !important;

  @media (max-width: 768px) {
    .remove-field {
      width: 35% !important;
      font-family: 13px !important;
    }
  }
}

.application .MuiListItem-root{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}